<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css" />
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<form class="form-horizontal" id="userFormId">
    <input type="hidden" id="userId" name="userId" />
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
            <input type="text" id="userName" class="form-control" name="userName" placeholder="userName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input type="password" id="userPwd" class="form-control" name="userPwd" placeholder="userPwd">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">价格</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userPrice" name="userPrice" placeholder="userPrice">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">座右铭</label>
        <div class="col-sm-10">
            <input type="text" name="userzuo" id="userzuo" placeholder="userzuo" class="form-control" />
        </div>
    </div>

</form>
</body>
</html>